      <%= form_for model:LineItem do |f| %>

      <%= f.check_box :id %>
      <%# <%= f.collection_check_boxes :author_ids, Author.all, :id, :name_with_initial %> %>
      <%= f.submit %>
      <% end %>

<p> hello </p>
